# credentials.py
#
#

""" this file holds all the password and token stuff etc. """

## HUBBUB stuff

HUB_URL = "http://superfeedr.com/hubbub"
HUB_CREDENTIALS = ["username","password"]

## twitter 

CONSUMER_KEY = ""
CONSUMER_SECRET = ""

## google api key

googleapikey = ""
